*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.outer-wrapper{
  background-color: rgb(41, 31, 56);
  padding: 100px 0;
  min-height: 200vh;
}

.inner-wrapper{
width: 70%;
background-color: dodgerblue;
margin: 0 auto;
}

.inner-wrapper > div{
  width: 100px;
  height: 100px;
  background-color: green;
  border: 3px solid red;
  color: white;
  font-size: 40px;
  text-align: center;
}

.position {
  /*position: relative;
  top: 15px;*/
  position: fixed;
  border-radius: 50%;
  bottom: 1em;
  right: 1em;
 

}
.relative{
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  right: 0;

}